[build]
  base = "apps/cron/"
  # This will be run the site build
  # command = ""
  # This is the directory is publishing to netlify's CDN
  # and this is directory of your front of your app
  # publish = "build"
  # functions build directory
  # functions = "functions-build" # always appends `-build` folder to your `functions` folder for builds
  #ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ."