[build]
  base = "apps/api/"
  command = "npm install && npm run build"
  functions = "functions"
  #ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ."
[[redirects]]
  from = "https://api.canitradetoday.com/*"
  to = "https://api.canitrade.today/:splat"
  status = 301
  force = true
[[redirects]]
  from = "https://can-i-trade-api.netlify.app/*"
  to = "https://api.canitrade.today/:splat"
  status = 301
  force = true